body {
    background-color: slategrey;
}

a {
    color: whitesmoke;
}

.tech-blog{
    background-color: lightslategray;
    border: 5px outset white
}

header {
    margin: 5px;
    border: 2px solid black;
}

nav {
    border: 2px inset black;
    background-color: darkslategrey;
    border-radius: 25px;
}

nav a {
    padding: 10px;
}

.post {
    border: 5px inset white;
}

