header, .project:not(:last-child) {
  border-bottom: 1px solid rgb(105, 105, 105);
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #bc1b1b;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #831f06;
  text-decoration: underline;
}

